.modal__window {
    width: 309px;
    height: 176px;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal__message {
    width: 227px;
    margin-bottom: 36px;
}


